<form action="/users" method="post">
  <fieldset class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email">
  </fieldset>
  <fieldset class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username">
  </fieldset>
  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="text" name="password" class="form-control" placeholder="Password">
  </fieldset>
  <fieldset class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <input type="text" name="confirm-password" class="form-control" placeholder="Confirm Password">
  </fieldset>
</form>
