<link rel="stylesheet" href="../styles/style.css">
<div class="container">
    <div class="background gradient"></div>
    <header class="top-text">
        <p id="jumbo-text">Dash<b>Bored<b></p>
    </header>
    <div class="wrap">
        <main>
            <div id="about-id">
                <p>With DashBored you can have all your news, events, entertainment all in one place!</p>
            </div>

            <form class="form-horizontal drop-shadow" action="/login" method="post">
                <h3>Sign in to customize your experience</h3>
                <hr>
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUsername" name="user_name" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
           <input type="checkbox"> Remember me
         </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" id="sign-in">Sign in</button>
                        <a type="submit" class="btn btn-info" href="/users/guest">Guest</a>
                        <button id="register-btn" class="btn btn-success" data-toggle="modal"
                         data-target="#registerModal">
                          Sign up
                        </button>
                    </div>
                </div>
            </form>
        </main>
    </div>
    <div class="wrap">
        <footer>
            Respected Wizards &copy
        </footer>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">DashBored</h4>
          </div>
          <div class="modal-body">
            <form action="/users" method="post">
              <fieldset class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email" required>
              </fieldset>
              <fieldset class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required>
              </fieldset>
              <fieldset class="form-group">
                <label for="password">Password</label>
                <input id="register-pass" type="text" name="password" class="form-control" placeholder="Password" required>
              </fieldset>
              <fieldset class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="text" name="confirm-password" class="form-control" placeholder="Confirm Password" required>
              </fieldset>
              <fieldset class="form-group">
                <legend>Preferences</legend>
                <div class="row">
                  <div class="form-group">
                    <label for="news">News</label>
                    <input type="checkbox" name="1">
                  </div>
                  <div class="form-group">
                    <label for="events">Events</label>
                    <input type="checkbox" name="4">
                  </div>
                  <div class="form-group">
                    <label for="places">Places</label>
                    <input type="checkbox" name="5">
                  </div>
              </div>
              </fieldset>
              <div class="error-container">
              </div>
              <fieldset>
                <button id="register-submit" type="submit" class="btn btn-primary">Submit</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
