<div class="dashbored">
    <header>
      <nav>
        <div class="logo mobile-logo">
            <span id="jumbo-text">DASH<b>bored</b></span>
        </div>

        <button id="edit-btn" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#registerModal">
        Settings
        </button>

        <a href="/logout" type="button" class="btn btn-warning btn-lg" data-target="" id="logOutButton">Log Out</a>
      </nav>

        <div class="modal fade" id="preferencesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title" id="myModalLabel">DashBored</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/users/{{userInfo.user_id}}" method="post">
                            <fieldset class="form-group">
                                <legend>Username</legend>
                                <label for="username">{{userInfo.username}}</label>
                            </fieldset>
                            <fieldset class="form-group">
                                <legend>Preferences</legend>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="news">News</label>
                                        <input type="checkbox" name="1" checked>
                                    </div>
                                    <div class="form-group">
                                        <label for="events">Events</label>
                                        <input type="checkbox" name="4" checked>
                                    </div>
                                    <div class="form-group">
                                        <label for="places">Places</label>
                                        <input type="checkbox" name="5" checked>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="error-container">
                            </div>
                            <fieldset>
                                <button id="register-submit" type="submit" class="btn btn-primary">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="logo mobile-logo">
            <span id="jumbo-text">DASH<b>bored</b></span>
        </div>

        <button id="edit-btn" class="btn btn-success" data-toggle="modal" data-target="#registerModal">
          Edit Preferences
        </button>

        <a href="/logout" type="button" class="btn btn-warning btn-lg" data-target="" id="logOutButton">Log Out</a> -->

    </header>

    <main>

        <div class="row info-squares">

            <!-- NEWS MODULE -->

            <div id="myNewsModule" class="jumbotron module col-s-4" data-prefID="1">

                <nav>
                    <h1>NEWS</h1>
                    <img src="http://www.iconarchive.com/download/i75805/martz90/circle/bbc-news.ico" class="modules-logo">
                </nav>
                <div class="btn-container">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#newsModal">See Headlines</button>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <nav class="modal-title" id="newsModalLabel">
                                <h2>News</h2><img src="http://i.newsapi.org/bbc-news-m.png" class="modules-logo">
                            </nav>
                        </div>

                        <div class="modal-body">
                            <div id="news-info"></div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>

                    </div>

                </div>
            </div>

            <!-- EVENTS MODULE -->

            <div id="myEventsModule" class="jumbotron col-s-4 module" data-prefID="4">

                <nav>
                    <h1>EVENTS</h1>
                    <img src="http://www.iconarchive.com/download/i99272/froyoshark/enkel/Calendar.ico" class="modules-logo">
                </nav>

                <div class="btn-container">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#eventModal">See Events</button>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <nav class="modal-title" id="eventModalLabel">
                                <h2>Events</h2><img src="http://www.iconarchive.com/download/i99272/froyoshark/enkel/Calendar.ico" class="modules-logo">

                            </nav>
                        </div>

                        <div class="modal-body">
                            <div id="event-info"></div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>

                    </div>

                </div>
            </div>


            <!-- MAPS MODULE -->

            <div id="myMapsModule" class="jumbotron col-s-4 module" data-prefID="5">

                <nav>
                    <h1>Food&nbsp;</h1>
                    <img src="http://findicons.com/files/icons/98/nx11/256/internet_real.png" class="modules-logo">
                </nav>

                <div class="btn-container">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#mapsModal">Explore</button>
                </div>

            </div>


            <!-- Modal -->
            <div class="modal fade" id="mapsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <nav class="modal-title" id="mapsModalLabel">
                                <h2>Food</h2><img src="http://findicons.com/files/icons/98/nx11/256/internet_real.png" class="modules-logo">
                            </nav>
                        </div>

                        <div class="modal-body">
                            <div id="map-info"></div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>

                    </div>

                </div>
            </div>


        </div>
        <!-- END TOP ROW -->

        <div class="row info-squares">

            <!-- GAMES MODULE -->

            <div id="myGamesModule" class="jumbotron col-s-8 module" data-prefID="3">
                <nav>
                    <h1>GAMES</h1>
                    <img src="https://openclipart.org/image/2400px/svg_to_png/227918/Video-Game-Controller-Icon.png" class="modules-logo">
                </nav>

                <div class="btn-container">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning btn-lg bottom-buttons" data-toggle="modal" data-target="#gamesModal">Play Games</button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="gamesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <nav class="modal-title" id="gamesModalLabel">
                                <h2>Games</h2><img src="https://openclipart.org/image/2400px/svg_to_png/227918/Video-Game-Controller-Icon.png" class="modules-logo">
                            </nav>
                        </div>

                        <div class="modal-body">
                            <div>
                                <script src="http://cdn.htmlgames.com/embed.js?game=Tapman&amp;width=565&amp;height=480&amp;bgcolor=white"></script>
                                <br>
                                <br>

                                <div class="gameplayer" data-sub="cdn" data-width="565" data-height="576" data-gid="576742227280298306">

                                    <script>
                                        (function(d, s, id) {
                                            var js, fjs = d.getElementsByTagName(s)[0];
                                            if (d.getElementById(id)) return;
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = 'http://cdn.gameplayer.io/api/js/publisher.js';
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'gameplayer-publisher'));
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SPORTS MODULE -->

            <div id="mySportsModule" class="jumbotron col-s-2 module" data-prefID="2">
                <nav>
                    <h1>SPORTS</h1>
                    <img src="http://maxpixel.freegreatpicture.com/static/photo/640/Competition-Team-Game-Ball-Soccer-Sport-Kick-34898.png" class="modules-logo">
                </nav>
                <div class="btn-container">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning btn-lg bottom-buttons" data-toggle="modal" data-target="#sportsModal">See Sports</button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="sportsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <nav class="modal-title" id="sportsModalLabel">
                                <h2>Sports</h2><img src="http://maxpixel.freegreatpicture.com/static/photo/640/Competition-Team-Game-Ball-Soccer-Sport-Kick-34898.png" class="modules-logo">
                            </nav>
                        </div>
                        <div class="modal-body">
                            <div id="sports-info"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>

<!-- *****EDIT PREFERENCES BUTTON/MODAL OPTION********* -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" id="myModalLabel">DashBored</h4>
            </div>
            <div class="modal-body">
                <form id='preferenceForm' action="/users" method="post">
                    <fieldset class="form-group">
                        <legend>Preferences</legend>
                        <div class="row">
                            <div class="form-group">
                                <label for="news">News</label>
                                <input id="1" type="checkbox" name="1" value="1">
                            </div>
                            <div class="form-group">
                                <label for="events">Events</label>
                                <input id="4" type="checkbox" name="4" value="4">
                            </div>
                            <div class="form-group">
                                <label for="places">Places</label>
                                <input id="5" type="checkbox" name="5" value="5">
                            </div>
                            <div class="form-group">
                                <label for="places">Games</label>
                                <input id="3" type="checkbox" name="3" value="3">
                            </div>
                            <div class="form-group">
                                <label for="places">Sports</label>
                                <input id="2" type="checkbox" name="2" value="2">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <button id="preference-editing" type="submit" class="btn btn-primary">Change preferences!</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!--*************************************-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

    <script>
    var preferences = {
                   {{#each userInfo}}
                   {{@index}}: {{pref_type_id}},
                   {{/each}}
           }

                    var prefArr = []
                    for (key in preferences) {
                        prefArr.push(preferences[key])
                    }

                    $('*[data-prefID="1"]').hide();
                    $('*[data-prefID="2"]').hide();
                    $('*[data-prefID="3"]').hide();
                    $('*[data-prefID="4"]').hide();
                    $('*[data-prefID="5"]').hide();

                    for (var i = 0; i < prefArr.length; i++) {
                        $(`*[data-prefID="${prefArr[i]}"`).toggle()
                        $(`#${prefArr[i]}`).attr('checked', true)
                    }

                    // if prefArr has a value > add the 'checked' value to (input type='checkbox') fields
                    // takes entire page and checks box for us
    </script>
