    /*HBS*/

    body {
        padding-left: 3em;
        padding-right: 3em;
        font-family: 'Julius Sans One', sans-serif;
        background-color: #F0F0F0;
        color: #C5C3c6;
    }

    .logo {
        display: inline-block;
    }

    .menu {
        display: inline-block;
        margin-top: 1em;
        color: #DCAE1D;
    }

    .usernName {
        display: inline-block;
        margin-top: 4em;
        font-size: 1.5em;
        color: #DCAE1D;
    }

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    #jumbo-text {
        font-size: 9em;
        color: #129490;
        font-family: 'Poiret One', cursive;
        margin-top: 0;
        /*text-shadow: 5px 5px 10px #1E1E24;*/
    }

    b {
        font-family: 'Julius Sans One', sans-serif;
    }

    .glyphicon {
        font-size: 4em;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .btn {
        background-color: #DCAE1D;
        color: black;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.6em;
        /*box-shadow: 5px 5px 10px #46494C;*/
        border: none;
        width: 80%;
        margin-top: 2em;
    }

    .btn:hover {
        background-color: #DCAE1D;
        opacity: .8;
        color: black;
    }

    .btn-warning:focus {
        color: black !important;
        background-color: #DCAE1D !important;
        border-color: none !important;
    }

    .info-squares {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        /*background-color: orange;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5em;
    }

    img {
        height: 10em;
    }

    .modules-logo {
        height: 5em;
    }

    #module {
        background-color: #00303F;
        margin: 1em;
        padding: 1em;
        border-radius: .5em;
        font-family: 'Julius Sans One', sans-serif;
        height: 17em;
        width: 35em;
        box-shadow: 5px 5px 10px #1E1E24;
        border: none;
    }

    .modal-content {
        color: #6B7075;
    }

    .modal-footer {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 992px) {
        body {
            padding: 2em;
        }
        header {
            display: flex;
            margin-bottom: .5em;
            justify-content: center;
        }
        .mobile-logo {
            margin-right: 1em;
        }
        .usernName {
            display: none;
            font-size: .5em;
        }
        .logo {
            display: block;
            font-size: .5em;
        }
        #module {
            width: 90vw;
            padding-bottom: 18em;
        }
        .info-squares {
            flex-wrap: wrap;
        }
    }
