.background:after {
    content: "";
    background: url(http://www.lanlinglaurel.com/data/out/79/4615072-background.jpg);
    opacity: .4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

#jumbo-text {
    font-size: 8em;
    font-family: 'Monoton', cursive;
}

.top-text {
    display: flex;
    justify-content: center;
}

b {
    font-family: 'Poiret One', cursive;
}

#about-id {
    width: 100%;
    height: 40%;
    background-color: gray;
}

.wrap {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-horizontal {
    background-color: white;
    padding: .2em 1em 1em 1em;
    margin-top: 2em;
}

footer {
    background-color: gray;
    width: 47%;
    margin-top: 3em;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
